<form action="/" method="POST">
    <label>
        {{!-- <input type="hidden" value="ae" name="login">
        <input type="hidden" value="yeger" name="name">
        <input type="hidden" value="qwerty123" name="password">
        <input type="hidden" value="1" name="ava">
        <button class="btn btn-small" type="submit">Save</button> --}}
        <input name="login" placeholder="Enter login">
        <input name="name" placeholder="Enter name">
        <input name="password" placeholder="Enter password">
        <input name="ava" placeholder="Select avatar">
        <button class="btn btn-small" type="submit">Save</button>
    </label>
</form>
<div>{{name}}</div>