<div>{{name}}</div>
<div>

{{#ifCond ava '==' 1}}
    <img src="images/image1.png"/>
{{/ifCond}}
{{#ifCond ava '==' 2}}
    <img src="images/image2.png"/>
{{/ifCond}}
{{#ifCond ava '==' 3}}
    <img src="images/image3.png"/>
{{/ifCond}}
</div>
{{ava}}
<div>{{satiety}}</div>