<div>{{name}}</div>
<div>

{{#if ava==1}}
<img src="image1.png"/>
{{/if}}
{{#if ava==2}}
<img src="image2.png"/>
{{/if}}
{{#if ava==3}}
<img src="image3.png"/>
{{/if}}
</div>
{{ava}}
</div>{{satiety}}</div>