<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>{{ title }}</title>
</head>
<body>
<form class = "forma" action="/sign_in" method="POST">
    <label>
        <input class="login" name="login" placeholder="Enter login">
        <input class="name" name="password" placeholder="Enter password">
        <button class="btn btn-small" type="submit">Sign in</button>
    </label>
</form>
<div>{{name}}</div>
</body>

</html>