<form action="/sign_in" method="POST">
    <label>
        <input name="login" placeholder="Enter login">
        <input name="password" placeholder="Enter password">
        <button class="btn btn-small" type="submit">Sign in</button>
    </label>
</form>
<div>{{name}}</div>