<form action="/" method="POST">
    <label>
        <input name="login" placeholder="Enter login">
        <input name="password" placeholder="Enter password">
        <button class="btn btn-small" type="submit">Save</button>
    </label>
</form>
<div>{{name}}</div>