*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#81229c, #532bc0) fixed;
    height: 100vh;
    font-weight: bolder;
}

.header{
    display:flex;
    position:static;
    text-align: center;
    margin-top: 120px;
    justify-content: center;

}
.forma{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::placeholder{
    text-align: center;
}

.checkbox{
    margin-top: 30px;    
}
.textcheck{
    color: white;
}
.login{
    width: 500px;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #cecece;
    margin-top: 20px;
    background-color: #BABABA;
}




.password{
    width: 500px;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #cecece;
    margin-top: 10px;
    background-color: #BABABA;
}

.name{
    width: 500px;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #cecece;
    margin-top: 10px;
    background-color: #BABABA;
}

.ava{
    width: 500px;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #cecece;
    margin-top: 10px;
    background-color: #BABABA;
}

.btnReg{
    border-radius: 8px;
    width: 500px;
    height: 60px;
    margin-top: 10px;
    color: white;
    background-color: #C56ADF;
    font-size: 20px;
}

.base{
    background-color: white;
    border-radius: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 100px ;
    align-items: center;
    
}

.bar{
    background-color: white;
    height: 300px;
    width: 90px;
    border-radius: 20px;
    text-align: center;
    margin-left: 30px;
    max-width: 90px;
    min-width: 90px;

}
.kotk{
    float: right;
    
}
.character_box{
    
    background-color: #D9D9D9;
    border-radius: 20px;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 20px;
    height: 450px;
    max-width: 500px;
    min-width: 500px;
    width:100%;

}

.label_reg{
    font-size: 40px;
    text-align: center;
}
.lsbel_sig{
    text-align: center;
    font-size: 30px;
}
.avatar{
    border-radius: 20px;
}
.text_creatac{
    text-align: center;
}

.mood{
    float: right;
    margin-top: 50px;
    padding-left: 10px;
}
.mood1{
    padding-left: px;
}

.tasks{
    margin-top: 170px;
    word-break:normal;
    text-align: center;
    max-width: 140px;
    
      
.tasks:after {
        content: "";
        display: inline-block;
        width: 100%;
    }
}

.circle{
    width:20px;
    height:20px;
    display:inline-block;
    border-radius:50%;
    background-color: rgb(255, 168, 248);
    margin-left:20 ;
    position: relative;
    display: inline-block;
 }

 .prob{
    padding-left: 25px;
 }



 .icons{
    margin-top: 20px;
 }

 .iconsM{
    margin-top: 20px;
 }
